<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Куда я хочу?</title>
    <link rel="icon" href="/css/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style_back.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div class="header">
    <div class="container-fluid">
        <div class="col-xs-8">
            <h3 class="NameWeb">ЕдуКудаХочу!!!</h3>
        </div>
        <div class="col-xs-2 text-right">
            <nav class="nav">
                <div class="sigNN fff">
                    <a class="sigN nav-link active" href="/"><button type="button" class="btn btn-warning">Home</button></a>
                </div>
            </nav>
        </div>
        <div class="col-xs-2 reg" sec:authorize="isAuthenticated()">
            <h3 class="UsName" th:text="${nickname}"></h3>
        </div>
    </div>
</div>
<div class="col-xs-12 text-center">
    <form method="POST" class="form-row">
        <h2 class="When">Куда едем?</h2>
        <div class="col-xs-2 col-xs-offset-1">
            <input type="text" name="start" placeholder="Откуда" class="form-control"/>
        </div>
        <div class="col-xs-2">
            <input type="text" name="finish" placeholder="Куда" class="form-control"/>
        </div>
        <div class="col-xs-2">
            <input type="date" name="date" class="form-control"/>
        </div>
        <div class="col-xs-2">
            <input type="number" name="count" value="0" class="form-control"/>
        </div>
        <div class="col-xs-1 text-right">
            <input type="hidden" name="action" th:value="filter"/>
            <button type="submit" class="btn btn-success">Найти</button>
        </div>
    </form>
    <h4 th:text="${FilterErrors}"></h4>
    <form method="POST">
        <div class="col-xs-1 text-left">
            <input type="hidden" name="action" th:value="break"/>
            <button type="submit" class="btn btn-info">Сброс</button>
        </div>
    </form>
</div>
<div class="col-xs-12 search">
    <h3 style="color: SaddleBrown">Поиск нашел следующее:</h3>
<table class="table table-sm">
    <thead>
    <th scope="col">Откуда</th>
    <th scope="col">Куда</th>
    <th scope="col">Стоимость</th>
    <th scope="col">Дата отъезда</th>
    <th scope="col">Количество свободных мест</th>
    <th scope="col">#</th>
    </thead>
    <th:block th:each="tour : ${FilteredTours}">

        <tr>
            <th:block th:if="${tour.getCount()!=0}">
                <td th:text="${tour.getStart()}"></td>
                <td th:text="${tour.getFinish()}"></td>
                <td th:text="${tour.getPrice()}"></td>
                <td th:text="${tour.getDate()}"></td>
                <td th:text="${tour.getCount()}"></td>
                <td>
                    <form method="post">
                        <input type="hidden" name="tourId" th:value="${tour.getId()}"/>
                        <input type="hidden" name="action" th:value="view"/>
                        <button type="submit" class="btn btn-block btn-success">View</button>
                    </form>

                </td>
            </th:block>
        </tr>
    </th:block>
</table>
</div>
</body>
</html>